before_script: source ./ci/jruby_download_commons_compress.sh
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4.0
  - jruby
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx
  - rbx-2
  - ruby-head
matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: rbx
    - rvm: rbx-2
    - rvm: ruby-head
